body {
    font-family: Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.container{
	height: 100%;
	width: 100%;
}

div.card-container{
	display: table;
	padding: 0.1em 2em 0.1em 1em ;	
	overflow-y: auto;
/*  border: solid 1px red;*/
}

div.card-front{
	/*text-align: center;*/
	font-weight: bold;
	font-size: 1.4em;
	display: table-cell;
/*	vertical-align: middle;*/
  /*border: solid 1px #9e95a7;
  -webkit-border-radius: 24px;    
  border-radius: 24px;*/
 
}

@font-face {
	font-family: metaOTChart;
	src: url('././MetaOT-Bold.otf');
}

@font-face {
	font-family: dinSchriftChartFont;
	src: url('././DINEngschrift-Alternate.otf');
}